{% extends "news_searcher/base.html" %}

{% block content %}

<body>  
    <h3>Keyword Record Edit</h3>
    <form method="POST" class="post-form" enctype="multipart/form-data">  
        <div class="form-group">
            <table class="table table-bordered table-hover" style="width: 80%;">
                <tbody>
                    {% csrf_token %}  
                    {{ form.as_table }}
                    <tr>
                        <td colspan="2"><button type="submit" class="btn btn-outline-primary">Save</button>  </td>
                    </tr>
                
                </tbody>
            </table>

        </div>
    </form>  
</body>  

{% endblock %}

{% block script %}

{% endblock %}

